.productTitle {
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda del contenedor */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final si el texto es demasiado largo */
  max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
}

.productPrice {
  font-size: 1rem;
  font-weight: 600;
}

.textOverImage {
  position: absolute; /* Posiciona el texto sobre la imagen */
  top: 10%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
  background-color: rgb(208, 208, 208); /* Fondo semitransparente para el texto */
  color: #38D9DF; /* Color del texto */
  padding: 5px 40px; /* Añade algo de espacio alrededor del texto */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño del texto */
  text-align: center; /* Centra el texto */
}