body {
  /* background-image: url("https://res.cloudinary.com/dhe1gcno9/image/upload/o_30/v1631097345/ProductosMarketV2/FondoPantalla/wallpaperflare.com_wallpaper_ra2ao1.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f9f9f9;
}

h2,
h4,
h5,
h6,
h7,
h8 {
  font-family: Saira Stencil One;
  color: rgb(56, 217, 223);
}

.h2Author {
  font-family: Saira Stencil One;
  color: rgb(56, 217, 223);
}

.bg-form {
  background-color: rgb(255, 255, 255);
}

.loginLabel {
  font-family: Saira;
}

.loginH3 {
  font-family: Saira;
  color: rgb(124, 124, 124);
  border: 1px solid;
  border-radius: 3px;
}

.me-0 {
  margin-left: 0.05rem !important;
}

.card {
  border-radius: 15px;
  max-width: 100% !important;
  max-height: 100% !important;
  background-color: rgb(0, 0, 0);
}

.form-select {
  font-size: 1.3rem;
  font-family: Saira;
}

.prodPreDescription {
  font-family: Saira;
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.15;
  font-size: 0.8rem;
}

.titleH5-product {
  overflow: hidden;
  font-weight: 400;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Saira;
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  /* objectFit: 'cover' ; */
  /* padding: 1px; */
}

.card-body {
  padding: 0.2rem;
}

.card h2 {
  font-size: 1rem;
  font-weight: lighter;
}

.card:hover {
  /* transform: scale(1.01); */
  transition: 0.05s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

.col {
  padding: 0px;
}

.btn-outline-warning {
  color: #e02b20;
  background: transparent;
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-warning:hover {
  color: rgb(255, 255, 255);
  background: #e02b20;
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-info {
  color: rgb(4, 93, 226);
  background: transparent;
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-info:hover {
  background-color: rgb(4, 93, 226);
  color: white;
  /* background: transparent; */
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-success {
  background-color: transparent;
  color: rgb(56, 217, 223);
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-success:hover {
  background-color: rgb(56, 217, 223);
  color: rgb(255, 255, 255);
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-primary {
  background-color: transparent;
  color: #e02b20;
  /* fill: #ffffff; */
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-primary:hover {
  background-color: #e02b20;
  color: #ffffff;
  /* transition: 1000ms;   */
  border: 1px solid;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-primary:link {
  background-color: #e02b20;
  color: #ffffff;
  /* transition: 1000ms;   */
  border: 1px solid;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.btn-outline-info {
  background-color: transparent;
  /* color: #0058ca;   */
  border: 1px solid;
  text-decoration: none;
  outline: 0;
  font-size: 0.7rem;
  font-family: Saira;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.product-price {
  font-family: Saira;
  color: black;
  font-size: 1rem;
}

.btn-select {
  font-family: Saira Stencil One;
}

.btn-select h2:hover {
  color: rgb(27, 28, 48);
  font-family: Saira Stencil One; 
}

.box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.box-img {
  max-width: 300px;
}

.thumb-sec {
  max-width: 300px;
}

.btn-info {
  text-align: center;
  font-family: Saira Stencil One;
  color: rgb(248, 248, 248);
  background-color: rgb(112, 112, 112);
}

.btn-success {
  font-family: Saira Stencil one;
  background-color: rgb(56, 217, 223)
}

.btn-success:hover {
  font-family: Saira Stencil one;
  background-color: rgb(124, 124, 124)
}
