

.container-fluid {
  max-width: 1200px;
}


.price-hp1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(5, 5, 5);
}

.textcontainer {
  /*   position: absolute; */
  margin-top: 15px;
  top: 0;
  left: 0;  
  width: 11rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(105, 105, 105);
}

.textoverimage {
  color: #38D9DF;
  font-size: 2rem;
  font-weight: 400;
}

.image-avatar {
  width: 4rem;
  height: 4rem;
}

.cardImgTop{
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
}



.cardimgtopAvatar {
  width: 3rem;
  object-fit: contain;
}